.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  // width: 100%;
  margin-top: 2rem;
}

.app__profile-item {
  display: flex;
  // align-items: flex-start;
  // flex-direction: row;
  // width: 100%;
  justify-content: space-between;
  margin: 2rem;

  img {
    // flex: 0.5;
    // width: 100%;
    width: 190px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
  }
  p {
    flex: 0.9;
    // margin-left: 1rem;
  }

  @media screen and (max-width: 750px) {
    // width: 370px;
    // margin: 2rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    img {
      margin-bottom: 2rem;
    }
    p {
      flex: 1;
    }
  }
}
